.container {
  max-width: 1400px;
  margin: auto;
  padding: 50px, 30px;
  box-sizing: border-box;
}

.title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
}

.card {
  padding: 25px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #d8e2dc;
  display: flex;
  flex-direction: column;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.info {
  padding: 15px;
  display: grid;
}

.name {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 0;
  color: #17301c;
}

.price {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 10px;
  color: #17301c;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 50px;
  background: #17301c;
  font-size: 20px;
  color: #d8e2dc;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}
