.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 var(--space-3);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: var(--space-5);
}

.title {
  font-size: var(--fs-title);
  font-weight: 700;
  color: var(--primary-text-color);
  margin: var(--space-5) 0;
}

.cardHref {
  font-size: var(--fs-h2);
  font-weight: 700;
  color: var(--primary-text-color);
  text-decoration: none;
}

.grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
}

.card {
  padding: var(--space-2);
  border-radius: 25px;
  overflow: hidden;
  background-color: var(--card-background);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.image {
  display: block;
  width: 100%;
  border-radius: 25px;
  object-fit: cover;
}

.info {
  padding: var(--space-1) 0;
  display: grid;
  gap: var(--space-1);
}

.name {
  text-align: center;
  font-size: var(--fs-h2);
  font-weight: 300;
  margin: 0;
  color: var(--secondary-text-color);
}

.price {
  text-align: center;
  font-size: var(--fs-price);
  font-weight: 600;
  margin: var(--space-1) 0;
  color: var(--secondary-text-color);
}

.btn {
  display: inline-block;
  padding: 10px;
  min-height: 44px;
  border-radius: 50px;
  font-size: var(--fs-btn);
  line-height: 1;
  text-align: center;
  background: var(--btn-color);
  color: var(--btn-text-color);
}

.btn:hover {
  opacity: 0.9;
}

/* Cart Page */

.empty {
  margin: var(--space-3) 0;
  font-size: var(--fs-h2);
  color: var(--primary-text-color);
}

.link {
  font-size: var(--fs-btn);
  font-weight: 700;
  background-color: var(--btn-empty-color);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
}

.linkText {
  padding: 12px 28px;
  color: var(--secondary-text-color);
  text-align: center;
  display: inline-block;
}

.list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space1);
  padding: var(--space-2);
  border-radius: 25px;
  background-color: var(--card-background);
}

.thumb {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.qtyRow {
  display: flex;
  align-items: center;
  gap: var(--space-1);
}

.qtyBtn {
  width: 35px;
  height: 35px;
  border: none;
  font-size: var(--fs-btn);
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border-radius: 50px;
  cursor: pointer;
  line-height: 1;
}

.qty {
  font-size: var(--fs-price);
  font-weight: 700;
  padding: var(--space-2);
  color: var(--secondary-text-color);
  min-width: 32px;
  text-align: center;
}

.remove {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  font-size: var(--fs-btn);
  padding: 6px 22px;
  border-radius: 50px;
}

.lineTotal {
  text-align: center;
  font-size: var(--fs-total-price);
  font-weight: 300;
  color: var(--secondary-text-color);
}

.summary {
  margin-top: var(--space-4);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-2);
  align-items: center;
  font-size: var(--fs-h2);
  font-weight: 700;
  padding: var(--space-3) 0;
  border-top: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
}

.actions {
  margin-top: var(--space-1);
  display: flex;
  flex-wrap: wrap;
  /* gap: var(--space-3); */
  justify-content: space-between;
}

.primary,
.secondary {
  font-size: var(--fs-h2);
  font-weight: 700;
  color: var(--primary-text-color);
  text-decoration: none;
  display: inline-block;
  margin-bottom: var(--space-4);
  border-radius: 50px;
  padding: 5px 16px;
}

.primary {
  background-color: var(--btn-cart-primary);
}

.secondary {
  background-color: var(--btn-cart-secondary);
}

/* Checkout Page */

.gridCheckout {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 30px;
}
